{% extends "../index.html" %}
{% block title %}Customer-list{% endblock %}

{% block container %}
<div class="page-content-wrapper" style="height:100vh;">
  <div class="page-content" style="height:100%;padding-top: 10rem">
    <div class="row">
			<div class="col-md-12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-edit"></i>Customer Table
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
							<a href="#portlet-config" data-toggle="modal" class="config">
							</a>
							<a href="javascript:;" class="reload">
							</a>
							<a href="javascript:;" class="remove">
							</a>
						</div>
					</div>
					<div class="portlet-body">
            <div style="margin-top:2rem;"></div>
						<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
  						<thead>
    						<tr>
    							<th>
    								 Id
    							</th>
    							<th>
    								 Name
    							</th>
    							<th>
    								 Phone number
    							</th>
    							<th>
    								 Verification code
    							</th>
    							<!-- <th>
    								 Edit
    							</th> -->
    							<th>
    								 Delete
    							</th>
    						</tr>
  						</thead>
  						<tbody>
                {% for customer in customers %}
                  <tr>
                    <td>
                       {{ customer.id }}
                    </td>
                    <td>
                       {{ customer.name }}
                    </td>
                    <td>
                       {{ customer.phone_number }}
                    </td>
                    <td class="center">
                       {{ customer.verification_code }}
                    </td>
                    <!-- <td>
                      <a class="edit" href="javascript:;">
                      Edit </a>
                    </td> -->
                    <td>
                      <a class="delete" href="/hupvan/admin/customer/{{ customer.id }}/delete/">
                      Delete </a>
                    </td>
                  </tr>
                {% endfor %}
  						</tbody>
						</table>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
  </div>
</div>
{% endblock %}
